body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(191, 195, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    width: 100%;
    height: auto;
    background-color: rgb(207, 178, 140);
    display: flex;
    gap: 17%;
}

.main-section img {
    width: 25%;
    height: auto;
}

header{
    padding: 20px;
    margin: auto;
    margin: 5px;
    color: white;
    background-color: rgb(36, 65, 91);
    text-align: center;
}

.right-aside {
    width: 35%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.right-aside img { 
    display: block; /* Ensure image is a block element */
    margin: 0 auto; /* Center the image horizontally */
    width: 40%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgb(94, 1, 1);
}